<div>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
            <a ng-href="#/">Angular Material</a>
        </h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-button class="md-primary" ng-href="#/">
            Index
        </md-button><br/>
        <md-button class="md-primary" ng-href="#/home">
            Home
        </md-button>
        <md-button class="md-primary" ng-href="#/chat">
            Chat
        </md-button>
        <md-button class="md-primary" ng-href="#/theme">
            Theme
        </md-button>
    </md-content>
</md-sidenav>
</div>