<div class="cm-toolbar md-accent" id="cm-header" ng-if="!is_weixn">
    <div class="cm-toolbar-tools">
        <button class="cm-button cm-icon-button" cm-back-btn aria-label="返回">
            <i class="cm-icon mdi mdi-24px mdi-arrow-left"></i>
        </button>

        <span style="position: absolute;margin-top: 16px;" class="md-accent" ng-bind="service_info.name"></span>

        <button class="cm-button cm-icon-button" ng-click="toggleRight()" style="float: right;" aria-label="技师信息">
            <i class="cm-icon mdi mdi-24px mdi-account"></i>
        </button>
    </div>
</div>
<div>
    <div class="cm-box bg-gray" id="message_box">

        <div class="direct-chat-messages">
            <div ng-repeat="msg in msg_list">
                    <!-- 客服的气泡-->
                    <div class="direct-chat-msg" ng-if="msg.from == 1">
                        <div class="direct-chat-info clearfix" >
                            <span class="direct-chat-timestamp" >{{msg.created_at|format_date:true}}</span>
                            <!--<p class="direct-chat-name">{{msg.admin_name}}</p>-->
                        </div>

                        <img class="direct-chat-img" ng-src="{{service_info.avatar}}" alt="message user image">
                        <div class="direct-chat-text" ng-bind-html="msg.content|format_msg:msg.type">

                        </div>
                    </div>

                    <!-- 用户的气泡-->
                    <div class="direct-chat-msg right" ng-if="msg.from == 0">
                        <div class="direct-chat-info clearfix" >
                            <span class="direct-chat-timestamp" >{{msg.created_at|format_date:true}}</span>
                            <!--<p class="direct-chat-name right">{{msg.user_nickname}}</p>-->
                        </div>
                        <img class="direct-chat-img" ng-src="{{user_info.avatar}}" alt="message user image">
                        <div class="direct-chat-text" ng-bind-html="msg.content|format_msg:msg.type">

                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>


<!-- 底部输入框-->
<div style="min-height: 48px;width: 100%;">

    <!-- 语音按钮-->
    <div class="inline" ng-click="toggleAd()">
        <button class="cm-button cm-icon-button mg_0" ng-class="{'md-accent':open_audio_status==true}"  aria-label="聊天语音" disabled>
            <i class="cm-icon mdi mdi-24px mdi-microphone c-green"></i>
        </button>
    </div>

    <!-- 语音输入按钮-->
    <cm-audio-input-btn class="inline" ng-show="open_audio_status == true" >
        <button class="inline cm-button" id="audio_input" ng-show="open_audio_status == true" style="margin-left: 0;margin-right: 0;">
            按住  说话
        </button>
    </cm-audio-input-btn>

    <div class="cm-padding inline" style="padding-left: 0;" ng-show="open_audio_status == false" id="message_input_box">
        <input class="cm-input inline" ng-model="message.content" type="text" id="message_input" ng-focus="hideFace()" aria-label="聊天文字">
    </div>

    <!-- 表情按钮-->
    <button class="cm-button cm-icon-button mg_0" ng-hide="open_audio_status == true" ng-class="{'md-accent':open_face_status==true}" ng-click="showFace()" aria-label="聊天表情">
        <i class="cm-icon mdi mdi-24px mdi-emoticon c-green"></i>
    </button>

    <!-- 发送按钮-->
    <button class="cm-button cm-icon-button mg_0" ng-click="sendMessage(message.content,1)"  ng-class="{'md-accent':message.content.trim()!=''}" style="" ng-if="message.content !='' && open_audio_status != true" aria-label="发送信息">
        <i class="cm-icon mdi mdi-24px mdi-send"></i>
    </button>

    <!-- +号按钮-->
    <button class="cm-button cm-icon-button mg_0" ng-if="message.content ==''||open_audio_status == true" aria-label="发送其他类型的信息"
               ng-click="toggleAd()">
        <i class="cm-icon mdi mdi-24px mdi-plus-circle-outline c-green"></i>
    </button>
</div>

<face class="h-200" flex ng-show="open_face_status==true">

</face>

<div class="tuigunang-box" ng-show="openAd ==  true">
    <div style="position: relative;">
        <p style="text-align: center;">下载车知了APP，了解更多用车问题！</p>
        <button class="cm-button cm-icon-button mg_0" ng-click="openAd = false" style="position: absolute;right: 12px;top:-12px;">
            <i class="cm-icon mdi mdi-24px mdi-close-circle-outline"></i>
        </button>
    </div>
</div>