<md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" cm-back-btn aria-label="返回">
            <md-icon class="mdi mdi-24px mdi-arrow-left"></md-icon>
        </md-button>
        <h2>
            <span class="md-accent" ng-bind="service_info.name"></span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="toggleRight()" aria-label="技师信息">
            <md-icon class="mdi mdi-24px mdi-account"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content layout="column">
    <md-content flex md-scroll-y class="bg-gray"  id="message_box">

        <div class="direct-chat-messages">
            <div ng-repeat="msg in msg_list">
                    <!-- 客服的气泡-->
                    <div class="direct-chat-msg" ng-if="msg.from == 1">
                        <div class="direct-chat-info clearfix" >
                            <span class="direct-chat-timestamp" >{{msg.created_at}}</span>
                            <p class="direct-chat-name">{{msg.admin_name}}</p>
                        </div>

                        <img class="direct-chat-img" ng-src="{{service_info.avatar}}" alt="message user image">
                        <div class="direct-chat-text" ng-bind-html="msg.content|format_msg:msg.type">

                        </div>
                    </div>

                    <!-- 用户的气泡-->
                    <div class="direct-chat-msg right" ng-if="msg.from == 0">
                        <div class="direct-chat-info clearfix" >
                            <span class="direct-chat-timestamp" >{{msg.created_at}}</span>
                            <p class="direct-chat-name right">{{msg.user_nickname}}</p>
                        </div>
                        <img class="direct-chat-img" ng-src="{{user_info.avatar}}" alt="message user image">
                        <div class="direct-chat-text" ng-bind-html="msg.content|format_msg:msg.type">

                        </div>
                    </div>
            </div>
        </div>

    </md-content>

    <!-- 底部输入框-->
    <md-content layout="row" style="min-height: 48px;">

        <md-input-container flex class="md-padding">
            <input ng-model="message.content" type="text" id="message_input" ng-focus="open_face_status=false" aria-label="聊天文字">
        </md-input-container>

        <!-- 表情按钮-->
        <md-button class="md-icon-button" ng-class="{'md-accent':open_face_status==true}" style="" ng-click="open_face_status = !open_face_status" aria-label="聊天表情">
            <md-icon class="mdi mdi-24px mdi-emoticon c-green" class="name"></md-icon>
        </md-button>

        <!-- 发送按钮-->
        <md-button class="md-icon-button" ng-click="sendMessage()"  ng-class="{'md-accent':message.content.trim()!=''}" style="" ng-if="message.content !=''" aria-label="发送信息">
            <md-icon class="mdi mdi-24px mdi-send" class="name"></md-icon>
        </md-button>

        <!-- +号按钮-->
        <md-button class="md-icon-button" style="" ng-if="message.content ==''" aria-label="发送其他类型的信息"
                ng-click="showGridBottomSheet($event)">
            <md-icon class="mdi mdi-24px mdi-plus-circle-outline c-green" class="name"></md-icon>
        </md-button>
    </md-content>

    <face class="h-200" flex ng-show="open_face_status==true">

    </face>
</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-accent">
        <h1 class="md-toolbar-tools">{{service_info.name}}的资料</h1>
    </md-toolbar>
    <md-content  layout-padding layout-align="center center">
        <div style="text-align: center;">
            <image ng-src="{{service_info.avatar}}" height="100px"/>
        </div>

        <form>
            <md-input-container>
                <label for="service_infoName">姓名</label>
                <input type="text" id="service_infoName"
                       ng-model="service_info.name" readonly>
            </md-input-container>
            <md-input-container>
                <label for="service_infoLLL">专精车系</label>
                <input type="text" id="service_infoLLL"
                       value="德系" readonly>
            </md-input-container>
            <md-input-container>
                <label for="service_infoNNN">专精领域</label>
                <input type="text" id="service_infoNNN"
                       value="维修，保养" readonly>
            </md-input-container>
            <md-input-container>
                <label for="service_infoMMM">维修资历</label>
                <input type="text" id="service_infoMMM"
                       value="12年" readonly>
            </md-input-container>
        </form>
    </md-content>
</md-sidenav>

