.bg-gray{
    background-color: #f1f1f1;
}
.bg-green{
    background-color: #8bc34a!important;
}

.bg-lime-500{
    background-color: #cddc39!important;
}
.bg-lime-50{
    background-color: #f9fbe7!important;
}
.bg-lime-100{
    background-color: #f0f4c3!important;
}
.bg-lime-200{
    background-color: #e6ee9c!important;
}
.bg-lime-300{
    background-color: #dce775!important;
}

.bg-blue-500{
    background-color: #03a9f4!important;
}

.c-green{
    color: #8bc34a!important;
}

.c-white{
    color: whitesmoke!important;
}