/*2015-12-02 乐车帮 样式*/
.czl_lechebang .md-button.md-accent{
    color: rgb(245,245,249) !important;
}
.czl_lechebang .md-button.md-fab.md-accent{
    background-color: rgb(245,245,249) !important;
}
.czl_lechebang .md-button.md-fab.md-accent md-icon{
    color: rgb(102,102,102) !important;
}
.czl_lechebang .md-button.md-accent md-icon{
    color: #35c816 !important;
}
.czl_lechebang md-toolbar.md-accent{
    background-color: rgb(245,245,249) !important;
    color: rgb(102,102,102) !important;
}
.czl_lechebang .direct-chat-img{
    border-radius: 0;
    background-color: #fff;
}
.czl_lechebang md-toolbar:not(.md-menu-toolbar) md-icon {
    color: rgba(102,102,102,0.87);
}
.czl_lechebang #message_box{
    background-color: rgb(239,239,244) !important;;
}
.czl_lechebang[data-loading]{
    /*position: fixed;*/
    /*background: rgba(255,255,255,.9);*/
    /*border:1px solid transparent;*/
    /*border-radius: 15px;*/
}
/*乐车帮 样式 [结束]*/