<div>
    <menu-left></menu-left>
    <md-toolbar class="md-default-theme">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="菜单" ng-click="toggleLeft()">
                <md-icon class="mdi mdi-24px mdi-menu"></md-icon>
            </md-button>
            <h2><span>Logo</span></h2>
            <span flex></span>
        </div>
        <div layout="row" layout-align="center center" flex>
            <h2 class="md-headline">车打不着火，怎么办</h2>
        </div>
    </md-toolbar>
    <md-button class="md-fab cm-fab-btn md-accent" ng-class="{'active':chatStatus}" ng-click="openChatRoute()" aria-label="咨询技师">
        <md-icon class="mdi mdi-24px mdi-message-text" ng-if="chatStatus==false"></md-icon>
    </md-button>
</div>

